<html>
    <%- include('../partials/head'); %>
    <body>
        <div class="content">
            <h1>This is the testing folder for <b>Pitch</b></h1>
            
            <div class="box">
               <h2><%= params.product.name %></h2>
               <p><%= params.product.description %></p>
            </div>
        </div>
    </body>
</html>
