body {
  background-color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

b {
  color: #fa4500; }

h1 {
  text-align: center; }

.content {
  display: block;
  max-width: 900px;
  margin: auto;
  padding: 10px; }

.box {
  padding: 1px 1em;
  background-color: white; }
